TesWebUI.json
[
    {
        "id": "6a9feb17a11176f2",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "793e0f8ba1f527d9",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1165eb0801d2a2f4",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#ffa500",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#ff7b00",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#ff7b00",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#ff7b00",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#ffa34d",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#ff7b00",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "5a62c21e6c383301",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9de33647be5ee909",
        "type": "ui_group",
        "name": "",
        "tab": "5a62c21e6c383301",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3842d2a99643bb20",
        "type": "ui_tab",
        "name": "Scan",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1d5c6dd52a9a0b4b",
        "type": "ui_tab",
        "name": "Files",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3062510839ebd5c6",
        "type": "ui_group",
        "name": "Display",
        "tab": "3842d2a99643bb20",
        "order": 3,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1f65de92d6fff143",
        "type": "ui_group",
        "name": "Options",
        "tab": "1d5c6dd52a9a0b4b",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d2e5cd0307beae1e",
        "type": "ui_spacer",
        "z": "6a9feb17a11176f2",
        "name": "spacer",
        "group": "9de33647be5ee909",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "a4e5aae155521371",
        "type": "ui_group",
        "name": "Settings",
        "tab": "3842d2a99643bb20",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4ab645d8d9501315",
        "type": "ui_group",
        "name": "Adjustment",
        "tab": "3842d2a99643bb20",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "007aa8a54929d094",
        "type": "ui_group",
        "name": "List of files",
        "tab": "1d5c6dd52a9a0b4b",
        "order": 1,
        "disp": true,
        "width": "16",
        "collapse": false,
        "className": ""
    },
    {
        "id": "33d5104a2cb572ca",
        "type": "ui_group",
        "name": "Current Mobile Robot Position",
        "tab": "3842d2a99643bb20",
        "order": 1,
        "disp": false,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "32f2bfb504ce4a14",
        "type": "ui_button",
        "z": "6a9feb17a11176f2",
        "name": "",
        "group": "9de33647be5ee909",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Scan",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"tab\":\"Scan\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "flow",
        "x": 90,
        "y": 40,
        "wires": [
            [
                "0db5d12c456ea3cf"
            ]
        ]
    },
    {
        "id": "84c29677bfd3e04a",
        "type": "ui_button",
        "z": "6a9feb17a11176f2",
        "name": "",
        "group": "9de33647be5ee909",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Files",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"tab\":\"Files\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "flow",
        "x": 90,
        "y": 100,
        "wires": [
            [
                "3b13461cc9d81436"
            ]
        ]
    },
    {
        "id": "0db5d12c456ea3cf",
        "type": "ui_ui_control",
        "z": "6a9feb17a11176f2",
        "name": "Scan",
        "events": "change",
        "x": 230,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "3b13461cc9d81436",
        "type": "ui_ui_control",
        "z": "6a9feb17a11176f2",
        "name": "Files",
        "events": "change",
        "x": 230,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "2250521d93f64200",
        "type": "ui_button",
        "z": "6a9feb17a11176f2",
        "name": "",
        "group": "1f65de92d6fff143",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Blurred Detection",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 430,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "687e6cf538466d71",
        "type": "ui_media",
        "z": "6a9feb17a11176f2",
        "group": "9de33647be5ee909",
        "name": "",
        "width": 0,
        "height": 0,
        "order": 1,
        "category": "Logo",
        "file": "maxresdefault_live.jpg",
        "layout": "center",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 370,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "288f409e6ddc2055",
        "type": "ui_text_input",
        "z": "6a9feb17a11176f2",
        "name": "",
        "label": "Radius (in mm)",
        "tooltip": "",
        "group": "a4e5aae155521371",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 120,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "c2dc598eb73e1e3a",
        "type": "ui_slider",
        "z": "6a9feb17a11176f2",
        "name": "",
        "label": "Number of Pictures",
        "tooltip": "",
        "group": "a4e5aae155521371",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "6",
        "max": "30",
        "step": "6",
        "className": "[{\"id\":\"4bc92110.64406\",\"type\":\"ui_template\",\"z\":\"7993e570.4aafac\",\"group\":\"93892d22.50ab8\",\"name\":\"\",\"order\":3,\"width\":0,\"height\":0,\"format\":\"<style>\\nmd-slider[md-discrete] .md-sign,\\nmd-slider[md-discrete] .md-sign:after {\\n opacity: 1;\\n -webkit-transform: translate3d(0, 0, 0) scale(1);\\n transform: translate3d(0, 0, 0) scale(1);\\n}\\n</style>\",\"storeOutMessages\":true,\"fwdInMessages\":true,\"templateScope\":\"global\",\"x\":660,\"y\":320,\"wires\":[[]]},{\"id\":\"992bc11f.dc2a4\",\"type\":\"ui_slider\",\"z\":\"7993e570.4aafac\",\"name\":\"\",\"label\":\"slider\",\"tooltip\":\"\",\"group\":\"93892d22.50ab8\",\"order\":4,\"width\":0,\"height\":0,\"passthru\":true,\"outs\":\"end\",\"topic\":\"\",\"min\":0,\"max\":10,\"step\":1,\"x\":650,\"y\":360,\"wires\":[[]]},{\"id\":\"93892d22.50ab8\",\"type\":\"ui_group\",\"z\":\"\",\"name\":\"charts\",\"tab\":\"a24618c5.be59c8\",\"disp\":true,\"width\":\"14\",\"collapse\":false},{\"id\":\"a24618c5.be59c8\",\"type\":\"ui_tab\",\"z\":\"\",\"name\":\"tab 1\",\"icon\":\"weekend\",\"order\":1,\"disabled\":false,\"hidden\":false}]",
        "x": 130,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "5d7bb62072aab6a9",
        "type": "ui_button",
        "z": "6a9feb17a11176f2",
        "name": "",
        "group": "a4e5aae155521371",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Run",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 90,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "68c864856a220711",
        "type": "ui_button",
        "z": "6a9feb17a11176f2",
        "name": "",
        "group": "a4e5aae155521371",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 90,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "9e9cd570cf271736",
        "type": "ui_button",
        "z": "6a9feb17a11176f2",
        "name": "",
        "group": "1f65de92d6fff143",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reflective Filter",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 420,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "802c831d2272c80a",
        "type": "ui_button",
        "z": "6a9feb17a11176f2",
        "name": "Forward",
        "group": "4ab645d8d9501315",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-arrow-up",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 100,
        "y": 480,
        "wires": [
            [
                "d99d62fe79565d57"
            ]
        ]
    },
    {
        "id": "f2edc5d2ce505d2d",
        "type": "ui_button",
        "z": "6a9feb17a11176f2",
        "name": "Backward",
        "group": "4ab645d8d9501315",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-arrow-down",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 100,
        "y": 520,
        "wires": [
            [
                "62f1ea47def5574f"
            ]
        ]
    },
    {
        "id": "8057072fc7af4b12",
        "type": "ui_button",
        "z": "6a9feb17a11176f2",
        "name": "Left",
        "group": "4ab645d8d9501315",
        "order": 3,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-arrow-left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 90,
        "y": 560,
        "wires": [
            [
                "0a86b922cc0bac08"
            ]
        ]
    },
    {
        "id": "b73226ac85145176",
        "type": "ui_button",
        "z": "6a9feb17a11176f2",
        "name": "Right",
        "group": "4ab645d8d9501315",
        "order": 5,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-arrow-right",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 90,
        "y": 600,
        "wires": [
            [
                "12f8a1f0296dfba2"
            ]
        ]
    },
    {
        "id": "b4af7ff4e5036f68",
        "type": "ui_button",
        "z": "6a9feb17a11176f2",
        "name": "CW",
        "group": "4ab645d8d9501315",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-repeat ",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 90,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "b89da7ba921b23b3",
        "type": "ui_button",
        "z": "6a9feb17a11176f2",
        "name": "CCW",
        "group": "4ab645d8d9501315",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-undo",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 90,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "35108976d689372c",
        "type": "ui_text",
        "z": "6a9feb17a11176f2",
        "group": "4ab645d8d9501315",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Stepper",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 100,
        "y": 720,
        "wires": []
    },
    {
        "id": "a61507d76804f2c9",
        "type": "ui_text",
        "z": "6a9feb17a11176f2",
        "group": "4ab645d8d9501315",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Mobile Robot",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 110,
        "y": 760,
        "wires": []
    },
    {
        "id": "4fa73dd9.83cca4",
        "type": "comment",
        "z": "6a9feb17a11176f2",
        "name": "File Browser",
        "info": "1) Update the default folder in the Init node\n2) Update the default folder in the Reset node as well\n3) You can duplicate the Reset nodes and use them as saved shortcuts\n4) Check the Convert Timestamps function node if you want to see your dates in a different format. I just used the Javascript toISOString format.\n5) The Graph button can read any CSV file which have any number of values, but the first column always contains a timestamp column with javascript timestamp of the data point.",
        "x": 90,
        "y": 820,
        "wires": []
    },
    {
        "id": "d185a45.2327a58",
        "type": "inject",
        "z": "6a9feb17a11176f2",
        "name": "Init",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "change",
        "payload": "/home/",
        "payloadType": "str",
        "x": 90,
        "y": 880,
        "wires": [
            [
                "3d4e5e51.bdf952"
            ]
        ]
    },
    {
        "id": "a715f7a4.a398a8",
        "type": "ui_button",
        "z": "6a9feb17a11176f2",
        "name": "",
        "group": "1f65de92d6fff143",
        "order": 1,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Refresh",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "refresh",
        "payload": "",
        "payloadType": "str",
        "topic": "refresh",
        "topicType": "str",
        "x": 80,
        "y": 920,
        "wires": [
            [
                "3d4e5e51.bdf952"
            ]
        ]
    },
    {
        "id": "eb17c7ee.e61988",
        "type": "ui_dropdown",
        "z": "6a9feb17a11176f2",
        "name": "File Selector",
        "label": "",
        "tooltip": "",
        "place": "Select a file",
        "group": "007aa8a54929d094",
        "order": 13,
        "width": 5,
        "height": 1,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "topicType": "str",
        "className": "",
        "x": 890,
        "y": 920,
        "wires": [
            [
                "be4830df.5775d"
            ]
        ]
    },
    {
        "id": "dd88bd23.37cde",
        "type": "function",
        "z": "6a9feb17a11176f2",
        "name": "Format data",
        "func": "// format the data for the dropdown\nmsg.options = [];\nfor (var i=0; i<msg.payload.length; i++) {\n    // This is a file\n    obj = {};\n    obj [msg.payload[i].name.replace(/^.*(\\\\|\\/|\\:)/, '')]=msg.payload[i].name;\n    msg.options.push(obj);\n}\nmsg.payload={};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 690,
        "y": 920,
        "wires": [
            [
                "eb17c7ee.e61988"
            ]
        ]
    },
    {
        "id": "638728aa.cd0b08",
        "type": "ui_template",
        "z": "6a9feb17a11176f2",
        "group": "007aa8a54929d094",
        "name": "",
        "order": 8,
        "width": "16",
        "height": "8",
        "format": "<div ng-bind-html=\"msg.payload\" height=\"400\" style=\"height: 400px;\"><br/>\n</div>\n\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 1080,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "9d27e846.b31db8",
        "type": "template",
        "z": "6a9feb17a11176f2",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<table width=\"100%\">\n    <tr><th>File Name</th><th>Size</th><th>Created</th><th>Changed</th></tr>\n    {{#payload}}\n        <tr>\n            <td><a href=\"/download?filename={{name}}\" target=\"blank\">{{fname}}</a></td>\n            <td>{{stat.size}}</td>\n            <td>{{stat.created}}</td>\n            <td>{{stat.changed}}</td>\n        </tr>\n    {{/payload}}\n</table>\n",
        "output": "str",
        "x": 920,
        "y": 980,
        "wires": [
            [
                "638728aa.cd0b08"
            ]
        ]
    },
    {
        "id": "3e094f82.15d6e",
        "type": "function",
        "z": "6a9feb17a11176f2",
        "name": "Convert timestamps",
        "func": "for (var i=0; i<msg.payload.length; i++) {\n    msg.payload[i].stat.created = msg.payload[i].stat.created.toISOString().slice(0, 19).replace('T', ' ');\n    msg.payload[i].stat.changed = msg.payload[i].stat.changed.toISOString().slice(0, 19).replace('T', ' ');\n    msg.payload[i].stat.accessed = msg.payload[i].stat.accessed.toISOString().slice(0, 19).replace('T', ' ');\n    msg.payload[i].stat.statusChanged = msg.payload[i].stat.statusChanged.toISOString().slice(0, 19).replace('T', ' ');\n    msg.payload[i].fname = msg.payload[i].name.replace(/^.*(\\\\|\\/|\\:)/, '');\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 720,
        "y": 980,
        "wires": [
            [
                "9d27e846.b31db8"
            ]
        ]
    },
    {
        "id": "7b7e0d58.05e244",
        "type": "ui_button",
        "z": "6a9feb17a11176f2",
        "name": "",
        "group": "1f65de92d6fff143",
        "order": 8,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Delete",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "delete",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 110,
        "y": 1080,
        "wires": [
            [
                "8da8147a.999af8"
            ]
        ]
    },
    {
        "id": "7d490dd1.8458b4",
        "type": "function",
        "z": "6a9feb17a11176f2",
        "name": "Get filename",
        "func": "// Get the filename from the flow context\nlet filename = flow.get(\"fileselected\");\n\n// check, if the filename is undefined that means it does not exist yet, nothing is selected yet\n// return: do not output anything\nif (filename===undefined) {\n    return;\n}\n\n// return the filename to the file-in node to delete\nmsg.filename = filename;\n\nif (msg.filename.replace(/^.*(\\\\|\\/|\\:)/, '')[0]!==\".\") {\n    // Only do this if this is a file, we don't delete folders\n    // and delete the context/selection as we are deleting the file as well\n    flow.set(\"fileselected\");\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 310,
        "y": 1140,
        "wires": [
            [
                "372ee262.fc94de"
            ]
        ]
    },
    {
        "id": "372ee262.fc94de",
        "type": "file",
        "z": "6a9feb17a11176f2",
        "name": "Delete file",
        "filename": "",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "delete",
        "encoding": "none",
        "x": 520,
        "y": 1140,
        "wires": [
            [
                "993d7272.843ae",
                "5219875b.c070d8"
            ]
        ]
    },
    {
        "id": "554f0095.ac1b2",
        "type": "ui_toast",
        "z": "6a9feb17a11176f2",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": false,
        "outputs": 1,
        "ok": "Yes",
        "cancel": "No",
        "raw": false,
        "topic": "",
        "name": "Confirmation",
        "x": 490,
        "y": 1080,
        "wires": [
            [
                "24df84fe.ebf45c"
            ]
        ]
    },
    {
        "id": "8da8147a.999af8",
        "type": "change",
        "z": "6a9feb17a11176f2",
        "name": "Set message",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Delete confirmation",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Are you sure you want to delete this file?",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 1080,
        "wires": [
            [
                "554f0095.ac1b2"
            ]
        ]
    },
    {
        "id": "24df84fe.ebf45c",
        "type": "switch",
        "z": "6a9feb17a11176f2",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Yes",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 690,
        "y": 1080,
        "wires": [
            [
                "7d490dd1.8458b4"
            ]
        ]
    },
    {
        "id": "3d4e5e51.bdf952",
        "type": "function",
        "z": "6a9feb17a11176f2",
        "name": "Folder handling",
        "func": "let folder = context.get(\"folder\");\nif (folder===undefined) {\n    folder=\"/\";\n    context.set(\"folder\", folder);\n}\n\nlet hidden = context.get(\"hidden\");\nif (hidden===undefined) {\n    hidden=false;\n    context.set(\"hidden\", hidden);\n}\n\nif (msg.topic===\"up\") {\n    var the_arr = folder.split('/');\n    the_arr.pop();\n    folder=the_arr.join('/'); \n    context.set(\"folder\", folder);\n}\nif (msg.topic===\"change\") {\n    folder=msg.payload;    \n    context.set(\"folder\", folder);\n}\nif (msg.topic===\"hidden\") {\n    hidden=msg.payload;    \n    context.set(\"hidden\", hidden);\n}\n\nmsg.payload = {\"start\":folder, \"hidden\": hidden};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 980,
        "wires": [
            [
                "993d7272.843ae",
                "399ac341.7d43bc",
                "5219875b.c070d8"
            ]
        ]
    },
    {
        "id": "399ac341.7d43bc",
        "type": "ui_text",
        "z": "6a9feb17a11176f2",
        "group": "007aa8a54929d094",
        "order": 1,
        "width": "11",
        "height": "1",
        "name": "",
        "label": "Folder:",
        "format": "{{msg.payload.start}}",
        "layout": "row-left",
        "className": "",
        "x": 480,
        "y": 860,
        "wires": []
    },
    {
        "id": "b40ea1d8.c700a",
        "type": "ui_button",
        "z": "6a9feb17a11176f2",
        "name": "",
        "group": "1f65de92d6fff143",
        "order": 3,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Up",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "arrow_upwards",
        "payload": "",
        "payloadType": "str",
        "topic": "up",
        "topicType": "str",
        "x": 90,
        "y": 1000,
        "wires": [
            [
                "3d4e5e51.bdf952"
            ]
        ]
    },
    {
        "id": "80940e39.5035b",
        "type": "ui_button",
        "z": "6a9feb17a11176f2",
        "name": "",
        "group": "1f65de92d6fff143",
        "order": 7,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Open",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "folder_open",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 110,
        "y": 1200,
        "wires": [
            [
                "8c1dfaac.979588"
            ]
        ]
    },
    {
        "id": "8c1dfaac.979588",
        "type": "function",
        "z": "6a9feb17a11176f2",
        "name": "Change folder",
        "func": "// Get the filename from the flow context\nlet folderselected = flow.get(\"folderselected\");\n\n// check, if the filename is undefined that means it does not exist yet, nothing is selected yet\n// return: do not output anything\nif (folderselected===undefined) {\n    return;\n}\n\nmsg.topic = \"change\";\nmsg.payload = folderselected;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 320,
        "y": 1200,
        "wires": [
            [
                "3d4e5e51.bdf952"
            ]
        ]
    },
    {
        "id": "58414ec4.c716e",
        "type": "ui_button",
        "z": "6a9feb17a11176f2",
        "name": "",
        "group": "1f65de92d6fff143",
        "order": 2,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Reset",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "autorenew",
        "payload": "/home/",
        "payloadType": "str",
        "topic": "change",
        "topicType": "str",
        "x": 90,
        "y": 960,
        "wires": [
            [
                "3d4e5e51.bdf952"
            ]
        ]
    },
    {
        "id": "37485c24.212054",
        "type": "ui_dropdown",
        "z": "6a9feb17a11176f2",
        "name": "Folder Selector",
        "label": "",
        "tooltip": "",
        "place": "Select a folder",
        "group": "007aa8a54929d094",
        "order": 12,
        "width": 5,
        "height": 1,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "topicType": "str",
        "className": "",
        "x": 900,
        "y": 1020,
        "wires": [
            [
                "2875c79f.531558"
            ]
        ]
    },
    {
        "id": "ebc234be.d53fe8",
        "type": "function",
        "z": "6a9feb17a11176f2",
        "name": "Format data",
        "func": "// format the data for the dropdown\nmsg.options = [];\nfor (var i=0; i<msg.payload.length; i++) {\n    // This is a foler\n    obj = {};\n    obj [\"[\"+msg.payload[i].name.replace(/^.*(\\\\|\\/|\\:)/, '')+\"]\"]=msg.payload[i].name;\n    msg.options.push(obj);\n}\nmsg.payload={};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 690,
        "y": 1020,
        "wires": [
            [
                "37485c24.212054"
            ]
        ]
    },
    {
        "id": "be4830df.5775d",
        "type": "change",
        "z": "6a9feb17a11176f2",
        "name": "Save selection",
        "rules": [
            {
                "t": "set",
                "p": "fileselected",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "2875c79f.531558",
        "type": "change",
        "z": "6a9feb17a11176f2",
        "name": "Save selection",
        "rules": [
            {
                "t": "set",
                "p": "folderselected",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "928e60a7.994be",
        "type": "ui_switch",
        "z": "6a9feb17a11176f2",
        "name": "",
        "label": "Hidden",
        "tooltip": "Show hidden files or not",
        "group": "1f65de92d6fff143",
        "order": 6,
        "width": 2,
        "height": 1,
        "passthru": false,
        "decouple": "false",
        "topic": "hidden",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "check_box",
        "oncolor": "#000000",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "check_box_outline_blank",
        "offcolor": "#000000",
        "animate": true,
        "className": "",
        "x": 80,
        "y": 1040,
        "wires": [
            [
                "3d4e5e51.bdf952"
            ]
        ]
    },
    {
        "id": "993d7272.843ae",
        "type": "fs-file-lister",
        "z": "6a9feb17a11176f2",
        "name": "Files",
        "start": "/home/pi",
        "pattern": "*.*",
        "folders": "*",
        "hidden": false,
        "lstype": "files",
        "path": true,
        "single": true,
        "depth": 0,
        "stat": true,
        "showWarnings": false,
        "x": 490,
        "y": 920,
        "wires": [
            [
                "dd88bd23.37cde",
                "3e094f82.15d6e"
            ]
        ]
    },
    {
        "id": "5219875b.c070d8",
        "type": "fs-file-lister",
        "z": "6a9feb17a11176f2",
        "name": "Folders",
        "start": "/home/pi",
        "pattern": "*.*",
        "folders": "*",
        "hidden": false,
        "lstype": "directories",
        "path": true,
        "single": true,
        "depth": 0,
        "stat": true,
        "showWarnings": false,
        "x": 500,
        "y": 1020,
        "wires": [
            [
                "ebc234be.d53fe8"
            ]
        ]
    },
    {
        "id": "aa8c482.93734b8",
        "type": "http in",
        "z": "6a9feb17a11176f2",
        "name": "",
        "url": "/download",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 1260,
        "wires": [
            [
                "d969ba04.e24028"
            ]
        ]
    },
    {
        "id": "d19cc7d8.646328",
        "type": "http response",
        "z": "6a9feb17a11176f2",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 910,
        "y": 1260,
        "wires": []
    },
    {
        "id": "d969ba04.e24028",
        "type": "function",
        "z": "6a9feb17a11176f2",
        "name": "Get the file name",
        "func": "msg.filename = msg.req.query.filename;\nmsg.contentdisposition = \"attachment; filename=\\\"\" + msg.req.query.filename.replace(/^.*(\\\\|\\/|\\:)/, '') + \"\\\"\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 1260,
        "wires": [
            [
                "e92381c3.c4cd2"
            ]
        ],
        "outputLabels": [
            "Folder selected",
            "File selected"
        ]
    },
    {
        "id": "e92381c3.c4cd2",
        "type": "file in",
        "z": "6a9feb17a11176f2",
        "name": "",
        "filename": "",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 560,
        "y": 1260,
        "wires": [
            [
                "99ff4953.d0d5c8"
            ]
        ]
    },
    {
        "id": "99ff4953.d0d5c8",
        "type": "change",
        "z": "6a9feb17a11176f2",
        "name": "Set Headers",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "headers.content-type",
                "pt": "msg",
                "to": "text/csv",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "headers.Content-Disposition",
                "pt": "msg",
                "to": "contentdisposition",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 1260,
        "wires": [
            [
                "d19cc7d8.646328"
            ]
        ]
    },
    {
        "id": "ca8e9d953f092c2e",
        "type": "ui_button",
        "z": "6a9feb17a11176f2",
        "name": "Stop Mobile Robot",
        "group": "4ab645d8d9501315",
        "order": 4,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-hand-paper-o ",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 440,
        "wires": [
            [
                "f6b5ebe00995a7fd"
            ]
        ]
    },
    {
        "id": "b515cbf20ef9cbc9",
        "type": "ui_template",
        "z": "6a9feb17a11176f2",
        "group": "3062510839ebd5c6",
        "name": "",
        "order": 1,
        "width": 8,
        "height": 9,
        "format": "<script>\n    var value = \"1\";\n// or overwrite value in your callback function ...\nthis.scope.action = function() { return value; }\n\nfunction updateF() {\n  var source = '/photo1.JPEG',\n  timestamp = (new Date()).getTime(),\n  newUrl = source + '?_=' + timestamp;\n  document.getElementById(\"photo\").src = newUrl;\n}\n</script>\n\n<md-button ng-click=\"send({payload:action()})\" onclick=\"setTimeout(updateF, 2500);\"\n    style=\"padding:40px; margin-bottom: 40px;\">\n    <ui-icon icon=\"camera\"></ui-icon>\n    Take a photo<br>\n</md-button>\n\n<div style=\"margin-bottom:40px;\">\n    <img src=\"/home/pi/Pictures/photo1.JPEG\" id=\"photo\" width=\"100%\" height=\"100%\">\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 100,
        "y": 180,
        "wires": [
            [
                "e6b6d52f78da8d36"
            ]
        ]
    },
    {
        "id": "dfab2222c829c896",
        "type": "debug",
        "z": "6a9feb17a11176f2",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 180,
        "wires": []
    },
    {
        "id": "702c493892bc194e",
        "type": "debug",
        "z": "6a9feb17a11176f2",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 460,
        "wires": []
    },
    {
        "id": "d99d62fe79565d57",
        "type": "exec",
        "z": "6a9feb17a11176f2",
        "command": "python3 /home/pi/MobileRobotCommands/forward.py",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 480,
        "y": 460,
        "wires": [
            [
                "702c493892bc194e"
            ],
            [],
            []
        ]
    },
    {
        "id": "f6b5ebe00995a7fd",
        "type": "exec",
        "z": "6a9feb17a11176f2",
        "command": "python3 /home/pi/MobileRobotCommands/stop.py",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 470,
        "y": 400,
        "wires": [
            [
                "702c493892bc194e"
            ],
            [],
            []
        ]
    },
    {
        "id": "62f1ea47def5574f",
        "type": "exec",
        "z": "6a9feb17a11176f2",
        "command": "python3 /home/pi/MobileRobotCommands/backward.py",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 490,
        "y": 520,
        "wires": [
            [
                "702c493892bc194e"
            ],
            [],
            []
        ]
    },
    {
        "id": "0a86b922cc0bac08",
        "type": "exec",
        "z": "6a9feb17a11176f2",
        "command": "python3 /home/pi/MobileRobotCommands/left.py",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 460,
        "y": 580,
        "wires": [
            [
                "702c493892bc194e"
            ],
            [],
            []
        ]
    },
    {
        "id": "12f8a1f0296dfba2",
        "type": "exec",
        "z": "6a9feb17a11176f2",
        "command": "python3 /home/pi/MobileRobotCommands/right.py",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 470,
        "y": 640,
        "wires": [
            [
                "702c493892bc194e"
            ],
            [],
            []
        ]
    },
    {
        "id": "e6b6d52f78da8d36",
        "type": "usbcamera",
        "z": "6a9feb17a11176f2",
        "filemode": "1",
        "filename": "photo1.JPEG",
        "filedefpath": "1",
        "filepath": "",
        "fileformat": "jpeg",
        "resolution": "1",
        "name": "",
        "x": 290,
        "y": 180,
        "wires": [
            [
                "dfab2222c829c896"
            ]
        ]
    },
    {
        "id": "dbed129b032aacb8",
        "type": "debug",
        "z": "793e0f8ba1f527d9",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 260,
        "wires": []
    },
    {
        "id": "acb75c0a1a10ca44",
        "type": "debug",
        "z": "793e0f8ba1f527d9",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 320,
        "wires": []
    },
    {
        "id": "4af0f729777cc361",
        "type": "function",
        "z": "793e0f8ba1f527d9",
        "name": "Build the datsets to be displayed",
        "func": "// this is where you define the legend for \n// the datasets\nvar title = \"Displaying last 5 movements\";\nvar point_xy = \"point xy\";\n\n// variables to be used to \nvar i, x, y, r = 10, prev_x, prev_y;\n\n// for dataset #1\n// this code generates between 3 and 25 random\n// x/y points each between -100 and +100\n// and a random size between 1 and 2\nvar data_xy = '';\n\nprev_x = msg.payload.prev_x;\nprev_y = msg.payload.prev_y;\n\nif (prev_x === undefined){\n    prev_x = 0;\n    prev_y = 0;\n}\n\nx = getRndInteger(-5,5);\nx += prev_x;\ny = getRndInteger(-5,5);\ny += prev_y;\n\ndata_xy += \"{x: \" + x + \", y: \" + y + \", r: \" + r + \"},\";\n\nif (msg.payload.data1 !== undefined){\n    data_xy = msg.payload.data1 + \",\" + data_xy\n}\n\n// this line removes the last comma to end the dataset\ndata_xy = data_xy.replace(/^(.*),(.*?)$/, '$1')\n\nif (data_xy.length > 100) {\n    data_xy = data_xy.split(\"},\");\n    data_xy.shift();\n    data_xy = data_xy.join(\"},\")\n}\n\nvar length = data_xy.length\n// Now we build msg.payload\nmsg.payload = { \"title\"    : title,\n                \"legend1\"  : point_xy,\n                \"data1\"    : data_xy,\n                \"prev_x\"   : x,\n                \"prev_y\"   : y,\n                \"length\"   : length};\nreturn msg;\n\n// this code gets a random interger\nfunction getRndInteger(min, max) {\n    return Math.floor(Math.random() * (max - min + 1) ) + min;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 200,
        "wires": [
            [
                "31c986e3e91922a7",
                "d5a74ef8eb12e3af",
                "97c291c946ad58c8",
                "3990a431ca88ca1c"
            ]
        ]
    },
    {
        "id": "31c986e3e91922a7",
        "type": "debug",
        "z": "793e0f8ba1f527d9",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 200,
        "wires": []
    },
    {
        "id": "a7f67f4b68880f27",
        "type": "inject",
        "z": "793e0f8ba1f527d9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "prev_data",
        "payloadType": "flow",
        "x": 200,
        "y": 140,
        "wires": [
            [
                "4af0f729777cc361"
            ]
        ]
    },
    {
        "id": "d5a74ef8eb12e3af",
        "type": "template",
        "z": "793e0f8ba1f527d9",
        "name": "Create the msg.template to use",
        "field": "template",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<canvas id=\"line-chart\" width=\"1\" height=\"1\" style=\"border:0px solid #000000;\"></canvas>\n\n<script>\nnew Chart(document.getElementById(\"line-chart\"), {\n    type: 'line',\n    data: {\n      datasets: [\n        {\n          label: \"{{{payload.legend1}}}\",\n          backgroundColor: \"rgba(255, 255, 255, 0.0)\",\n          borderColor: \"#000\",\n          data: [\n            {{{payload.data1}}}\n          ]\n        }\n      ]\n    },\n    options: {\n        legend: {\n            display: true,\n            labels: {\n                fontColor: 'rgb(255, 99, 132)'\n            }\n        },\n        title: {\n            display: true,\n            text: '{{{payload.title}}}'\n        },\n        scales: {\n            yAxes: [{ \n              type: 'linear',\n              scaleLabel: {\n                display: true,\n                labelString: \"yAxes\"\n                },\n              max: 10,\n              min: -10,\n              ticks: {\n              stepSize: 1\n              }\n            }],\n            xAxes: [{ \n              type: 'linear',\n              position: 'bottom',\n              scaleLabel: {\n                display: true,\n                labelString: \"xAxes\"\n              },\n              max: 10,\n              min: -10,\n              ticks: {\n              stepSize: 1\n              }\n            }]\n        },\n        animation: {duration: 0}\n    }\n});\n\n</script>\n",
        "output": "str",
        "x": 250,
        "y": 260,
        "wires": [
            [
                "dbed129b032aacb8",
                "258c692812712035"
            ]
        ]
    },
    {
        "id": "1486487d78bba49f",
        "type": "comment",
        "z": "793e0f8ba1f527d9",
        "name": "Current Mobile Robot Position",
        "info": "",
        "x": 220,
        "y": 80,
        "wires": []
    },
    {
        "id": "aa7432b63af04d89",
        "type": "inject",
        "z": "793e0f8ba1f527d9",
        "name": "Description",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Current Mobile Robot Position",
        "payloadType": "str",
        "x": 190,
        "y": 380,
        "wires": [
            [
                "b45233c39f986d36"
            ]
        ]
    },
    {
        "id": "258c692812712035",
        "type": "ui_template",
        "z": "793e0f8ba1f527d9",
        "group": "33d5104a2cb572ca",
        "name": "Linear",
        "order": 2,
        "width": 10,
        "height": 10,
        "format": "",
        "storeOutMessages": false,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 170,
        "y": 320,
        "wires": [
            [
                "acb75c0a1a10ca44"
            ]
        ]
    },
    {
        "id": "b45233c39f986d36",
        "type": "ui_text",
        "z": "793e0f8ba1f527d9",
        "group": "33d5104a2cb572ca",
        "order": 1,
        "width": 10,
        "height": 1,
        "name": "Current Mobile Robot Position",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 475,
        "y": 380,
        "wires": [],
        "l": false
    },
    {
        "id": "4a1469e1200c30e4",
        "type": "inject",
        "z": "793e0f8ba1f527d9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "prev_data",
        "payloadType": "flow",
        "x": 190,
        "y": 440,
        "wires": [
            [
                "73201e220c7bb0fe"
            ]
        ]
    },
    {
        "id": "73201e220c7bb0fe",
        "type": "debug",
        "z": "793e0f8ba1f527d9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 440,
        "wires": []
    },
    {
        "id": "97c291c946ad58c8",
        "type": "change",
        "z": "793e0f8ba1f527d9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "prev_data",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "60428f59b0bb5a86",
        "type": "inject",
        "z": "793e0f8ba1f527d9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Reset xy",
        "payloadType": "str",
        "x": 180,
        "y": 480,
        "wires": [
            [
                "07e2120dd711a195"
            ]
        ]
    },
    {
        "id": "07e2120dd711a195",
        "type": "change",
        "z": "793e0f8ba1f527d9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "prev_data",
                "pt": "flow",
                "to": "[]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "3990a431ca88ca1c",
        "type": "debug",
        "z": "793e0f8ba1f527d9",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.length",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 240,
        "wires": []
    }
]